@font-face {
  font-family: 'rm';
  src: url("font/cmunrm.ttf") format("truetype");
}

@font-face {
  font-family: 'bf';
  src: url("font/cmunbx.ttf") format("truetype");
}

@font-face {
  font-family: 'it';
  src: url("font/cmunti.ttf") format("truetype");
}

@font-face {
  font-family: 'tt';
  src: url("font/cmuntt.ttf") format("truetype");
}

@font-face {
  font-family: 'ja-m';
  src: url("font/NotoSerifCJKjp-Regular.min.ttf") format("truetype");
}

@font-face {
  font-family: 'ja-b';
  src: url("font/NotoSerifCJKjp-Bold.min.ttf") format("truetype");
}

html {
  background-color: lightgray;
}

body {
  font-family: 'rm', 'ja-m';
  max-width: 700px;
  min-height: 100vh;
  margin: 0px auto;
  padding: 7%;
  padding-top: max(60px,7%);
  line-height: 1.5;
  background-color: white;
  color: black;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-variant-caps: small-caps;
  font-family: 'bf', 'ja-b';
  font-size: 22px;
  margin-bottom: 20px;
}

h2 {
  font-variant-caps: small-caps;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-family: 'bf', 'ja-b';
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
}

.abstract {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
  font-size: 16px;
}
  
.contents {
  /* list-style: none; */
  padding-left: 3%;
  padding-right: 3%;
  margin-bottom: 30px;
}
  
.contents li {
  margin: 5px 0;
}

.paper {
  margin-bottom: 40px;
  border: solid 2px black;
  padding: 0em 1em;
  background-color: rgba(211, 211, 211, 0.3);
}

.journal {
  font-family: 'rm', 'ja-m';
  text-indent: 1rem;
}

.author {
  font-family: 'rm', 'ja-m';
  text-indent: 1rem;
}

a {
  text-decoration: none;
  color: black;
  border-bottom: 1px solid red;
  padding-left: 3px;
  padding-right: 3px;
}

a:hover {
  background-color: lightgray;
}
  
.normal{
  text-indent: 1rem;
}

.page-author {
  font-variant-caps: small-caps;
  font-family: 'bf', 'ja-b';
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.page-author::first-letter {
  color:red;
}

.me {
  display: inline-block;
  text-indent: 0rem;
}
.me::first-letter {
  color: red;
}

img {
  max-width: 200px;
}
