@font-face {
  font-family: 'cmrm';
  src: url("font/cmunrm.ttf") format("truetype");
}

@font-face {
  font-family: 'cmbf';
  src: url("font/cmunbx.ttf") format("truetype");
}

@font-face {
  font-family: 'cmit';
  src: url("font/cmunti.ttf") format("truetype");
}

@font-face {
  font-family: 'cmtt';
  src: url("font/cmuntt.ttf") format("truetype");
}

@font-face {
  font-family: 'ja';
  src: url("font/NotoSerifCJKjp-Regular.min.ttf") format("truetype");
}

html {
  background-color: lightgray;
}

body {
  font-family: 'cmrm', 'ja';
  max-width: 700px;
  min-height: 100vh;
  margin: 0px auto;
  padding: 7%;
  padding-top: max(60px,7%);
  line-height: 1.5;
  background-color: #f9f9f9;
  color: black;
  font-size: 18px;
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-variant-caps: small-caps;
  font-family: 'cmbf', sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
}

h2 {
  font-variant-caps: small-caps;
  font-family: 'cmrm', 'ja';
  font-weight: normal;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 15px;
}

h3 {
  font-weight: bold;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0;
}

.abstract {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
  font-size: 16px;
}

.paper {
  margin-bottom: 20px;
  border: solid 2px black;
  padding: 0em 1em;
  background-color: rgba(211, 211, 211, 0.3);
}

a {
  text-decoration: none;
  color:crimson;
}

a:hover {
  /*
  background-color: crimson;
  color: #f9f9f9;
  */
  /* color: crimson;
  border-bottom: solid 1px crimson; */
  color: crimson;
  text-decoration: underline;
  text-decoration-color: crimson;
}

.page-author {
  font-variant-caps: small-caps;
  font-weight: bold;
  font-family: 'cmbf', 'ja';
  text-align: center;
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 30px;
}
/* .page-author::first-letter {
  color:crimson;
} */

img {
  max-width: 200px;
}
