@font-face {
  font-family: 'rm';
  src: url("font/cmunrm.ttf") format("truetype");
}

@font-face {
  font-family: 'bf';
  src: url("font/cmunbx.ttf") format("truetype");
}

@font-face {
  font-family: 'it';
  src: url("font/cmunti.ttf") format("truetype");
}

@font-face {
  font-family: 'tt';
  src: url("font/cmuntt.ttf") format("truetype");
}

html {
  background-color: lightgray;
}

body {
  font-family: 'rm';
  max-width: 700px;
  min-height: 100vh;
  margin: 0px auto;
  padding: 7%;
  padding-top: max(60px,7%);
  line-height: 1.3;
  background-color: white;
  color: black;
  font-size: 18px;
}

h1, h2, h3 {
  font-weight: normal;
  text-align: center;
}

h1 {
  font-variant-caps: small-caps;
  font-family: 'bf';
  font-size: 22px;
  margin-bottom: 20px;
}

h2 {
  font-variant-caps: small-caps;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

h3 {
  font-family: 'bf';
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
}

.abstract {
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
  font-size: 16px;
}
  
.contents {
  list-style: none;
  padding-left: 3%;
  margin-bottom: 30px;
}
  
.contents li {
  margin: 5px 0;
}

.paper {
  margin-bottom: 40px;
  border: solid 2px black;
  padding: 0em 1em;
}

.journal {
  font-family: 'it';
}

a {
  text-decoration: none;
  color: black;
  border: 1px solid red;
  padding-left: 3px;
  padding-right: 3px;
}

a:hover {
  background-color: lightgray;
}
  
.normal{
  text-indent: 1rem;
}
  
.author{
  font-weight: normal;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.author::first-letter {
  color:red;
}

img {
  max-width: 200px;
}
